<div class="component">
    <div class="portfolio">
        <div class="header">
            <div class="title">
                <h2>Boumnijel Rayen</h2>
                <h4>Web Developer</h4>
            </div>
            <div class="career">
                <h4>Career summary</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nobis, velit temporibus neque obcaecati quasi tenetur natus doloribus veniam quibusdam.</p>
            </div>
        </div>
        <div class="mid">
            <div class="philosophy">
                <h4>Philosophy statement </h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nobis, velit temporibus neque obcaecati quasi tenetur natus doloribus veniam quibusdam.</p>
            </div>
            <div class="biographyAndSM">
                <div class="biography">
                    <h4>Biography </h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nobis, velit temporibus neque obcaecati quasi tenetur natus doloribus veniam quibusdam.</p>
                </div>
                <div class="SM">
                    <h4>Social Media</h4>
                    <p><span>Facebook : </span>Lorem ipsum dolor sit amet.</p>
                    <p><span>Facebook : </span>Lorem ipsum dolor sit amet.</p>
                    <p><span>Facebook : </span>Lorem ipsum dolor sit amet.</p>
                    <h4>Contact</h4>
                    <p><span>Web Site : </span>Lorem ipsum dolor sit amet.</p>
                    <p><span>Email : </span>ra.boumnijel@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="accAndAward">
                <div class="accs">
                    <h4>Professional Accomplishments</h4>
                    <div class="acc">
                        <h5>Accomplishment 1</h5>
                        <p>Category</p>
                        <p><span>Link Proof : </span>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="acc">
                        <h5>Accomplishment 1</h5>
                        <p>Category</p>
                        <p><span>Link Proof : </span>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <div class="awards">
                    <h4>Awards and Honors</h4>
                    <div class="award">
                        <h5>Title 1</h5>
                        <p><span>Recognation Level </span> 2022-12-10</p>
                        <p><span>Link Proof : </span>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="award">
                        <h5>Title 1</h5>
                        <p><span>Recognation Level </span> 2022-12-10</p>
                        <p><span>Link Proof : </span>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="award">
                        <h5>Title 1</h5>
                        <p><span>Recognation Level </span> 2022-12-10</p>
                        <p><span>Link Proof : </span>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>

            <div class="certAndVol">
                <div class="certs">
                    <h4>Certifications</h4>
                    <div class="cert">
                        <h5>title</h5>
                        <p>description</p>
                        <p><span>Link Documents : </span>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <div class="vols">
                    <h4>Volunteering and Community service</h4>
                    <div class="vol">
                        <h5>name</h5>
                        <p>description</p>
                    </div>
                    <div class="vol">
                        <h5>name</h5>
                        <p>description</p>
                    </div>
                    <div class="vol">
                        <h5>name</h5>
                        <p>description</p>
                    </div>
                </div>
            </div>

            <div class="references">
                <h4>References and Testimonials</h4>
                <div class="reference">
                    <h5>title</h5>
                    <h6>job tiltle</h6>
                    <p>boumnijelrayen9@gmail.com <span>55 555 555</span></p>
                </div>
                <div class="reference">
                    <h5>title</h5>
                    <h6>job tiltle</h6>
                    <p>boumnijelrayen9@gmail.com <span>55 555 555</span></p>
                </div>
            </div>
        </div>
        
    </div>
    
    
</div>
