<div class="component">
    <div class="portfolio">
        <div class="header">
            <div class="title">
                <h2>{{portfolio.full_name}}</h2>
                <h4>{{portfolio.occupation}}</h4>
            </div>
            <div class="career">
                <h4>Career summary</h4>
                <p>{{portfolio.career_summary}}</p>
            </div>
        </div>
        <div class="mid">
            <div class="philosophy">
                <h4>Philosophy statement </h4>
                <p>{{portfolio.philosophy_statement}}</p>
            </div>
            <div class="biographyAndSM">
                <div class="biography">
                    <h4>Biography </h4>
                    <p>{{bio.description}}</p>
                </div>
                <div class="SM">
                    <h4>Social Media</h4>
                    <p *ngFor="let media of medias"><span>{{media.socialMedia_name}} : </span>{{media.socialMedia_link}}</p>
                    <h4>Contact</h4>
                    <p><span>Web Site : </span>{{bio.personal_website}}</p>
                    <p><span>Email : </span>{{bio.email}}</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="accAndAward">
                <div class="accs">
                    <h4>Professional Accomplishments</h4>
                    <div class="acc" *ngFor="let acc of accs">
                        <h5>{{acc.name}}</h5>
                        <p>{{acc.category}}</p>
                        <p><span>Link Proof : </span>{{acc.accomplishment_justification}}</p>
                    </div>
                </div>
                <div class="awards">
                    <h4>Awards and Honors</h4>
                    <div class="award" *ngFor="let award of awards">
                        <h5>{{award.title}}</h5>
                        <p><span>{{award.recognition_level}} </span> {{award.date}}</p>
                        <p><span>Link Proof : </span>{{award.award_justification}}</p>
                    </div>
                </div>
            </div>

            <div class="certAndVol">
                <div class="certs">
                    <h4>Certifications</h4>
                    <div class="cert" *ngFor="let cert of certs">
                        <h5>{{cert.title}}</h5>
                        <p>{{cert.description}}</p>
                        <p><span>Link Documents : </span>{{cert.document_link}}</p>
                    </div>
                </div>
                <div class="vols">
                    <h4>Volunteering and Community service</h4>
                    <div class="vol" *ngFor="let vol of vols">
                        <h5>{{vol.name}}</h5>
                        <p>{{vol.description}}</p>
                    </div>
                </div>
            </div>

            <div class="references">
                <h4>References and Testimonials</h4>
                <div class="reference" *ngFor="let reference of refs">
                    <h5>{{reference.title}}</h5>
                    <h6>{{reference.job_title}}</h6>
                    <p>{{reference.email}} <span>{{reference.phone_number}}</span></p>
                </div>
            </div>
        </div>
        
    </div>
    
    
</div>
