<div class="sidebar">
    <div class="logo">
        <img src="assets/img/logo.png" alt="">
    </div>
    <div class="profile">
        <h3>User</h3>
        <p>username</p>
    </div>
    <ul class="menu">
        <li routerLink="/user" (click)="changePoColor()" #portfolio ><i class="bi bi-person-check"></i> portfolio</li>
        <li routerLink="/user/update" (click)="changeUpColor()" #updateP ><i class="bi bi-person-bounding-box"></i> update portfolio</li>
    </ul>
    <div class="out" >
        <i class="bi bi-door-open-fill"></i>
        Log out
    </div>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>
