<div class="component">
    <header>
        <img src="/assets/img/logo.png" alt="">
        <div class="right-header">
            <button routerLink="/loginAdmin">Admin</button>
            <ul>
                <li><i class="bi bi-linkedin"></i></li>
                <li><i class="bi bi-facebook"></i></li>
                <li><i class="bi bi-github"></i></li>
                <li><i class="bi bi-instagram"></i></li>
            </ul>
        </div>   
    </header>
    <div class="component__body">
        <h2>Portfolio Builder</h2>
        <div class="wrapper">
            <div class="static-text">Created by</div>
            <ul class="dynamic-text">
                <li>Rayen Boumnijel</li>
                <li>Saif Bahri</li>
                <li>Rihab Arfaoui</li>
            </ul>
        </div>
        <div class="buttons">
            <button routerLink="/login">Sign IN</button>
            <button routerLink="/user/register">Sign UP</button>
        </div>
    </div>
</div>
