.component{
    background-image : linear-gradient(rgba(0,0,0,0.75),
    rgba(0,0,0,0.75)),url("/assets/img/homePage.jpg");
    background-size: cover;
    background-position: center; 
    height: 100vh;
    width: 100%;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 80px;
    align-items: center;
}

header img{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 30px;
    cursor: pointer;
}

header ul{
    display: flex;
    list-style: none;
    margin-right: 20px;
}

header ul li{
    margin: 0 8px;
}

header ul li i{
    cursor: pointer;
    color: white;
    font-size: 20px;
}

header ul li i:hover{
    color: #F7BC39;
}

.right-header{
    display: flex;
    align-items: center;
}

.right-header button{
    border: none;
    outline: none;
    background-color: #F7BC39;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 15px;
    margin-right: 20px;
}

.component__body{
    width: 100%;
}

.component__body h2{
    color: white;
    font-size: 70px;
    text-align: center;
    margin-top: 20px;
}

.wrapper{
    display: flex;
    background-color: #082032;
    padding-left: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
    width: 700px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.wrapper .static-text{
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.wrapper .dynamic-text{
    margin-left: -20px;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
}

.wrapper .dynamic-text li{
    color: #F7BC39;
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    top: 0;
    animation: slide 9s steps(3) infinite;
}

.wrapper .dynamic-text li::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: #082032;
    border-left: 1px solid #F7BC39;
    animation: typing 3s steps(15) infinite;
}

@keyframes typing{
    40%,
    60%{
        left: calc(100% + 30px);
    }
    100%{
        left:0;
    }
}

@keyframes slide{
    100%{
        top: -90px;
    }
}

.buttons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttons button{
    margin: 0 15px;
}

.buttons button:nth-child(1){
    border: none;
    outline: none;
    background-color: #F7BC39;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
}

.buttons button:nth-child(2){
    border: none;
    outline: none;
    background-color: transparent;
    color: #F7BC39;
    border: 1px solid #F7BC39;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
}