.component{
    background: linear-gradient(120deg,#5a2ff5, #58e6ff);
    height: 100vh;
}

.center{
    position: relative;
    width: 500px;
    height: 620px;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}

.center h2{
    text-align: center;
    padding-top: 30px;
}

.center h4{
    text-align: center;
    padding-top: 5px;
    color: #2691d9;
}

.center form{
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

  
form .txt{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 10px;
}

form .txt input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    border: none;
    background: none;
    outline: none;
}

form .txt label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

form .txt span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}

form .txt input:focus ~ label,form .txt input:valid ~ label{
    top: -5px;
    color: #2691d9;
}

form .txt input:focus ~ span::before,form .txt input:valid ~ span::before{
    width: 100%;
}

.btn-box{
    width: 100%;
    text-align: center;
}

.btnn{
    padding: 10px 20px;
    margin: 0 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    transition: .5s;
    margin-bottom: 40px;
}

.btnn:hover{
    border-color: #2691d9;
}

.erreur{
    margin-top: -20px;
    color: white;
    width: 80%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 25px;
    border-radius: 25px;
    background-color: rgb(255, 78, 78);
}

#form3 .input-box,#form4 .input-box,#form5 .input-box,#form6 .input-box,#form7 .input-box,#form2 .input-box{
    margin-bottom: 20px;
}

.accomplishments,.awards,.certifications,.volunteering,.references,.socialMedia{
    width: 100%;
}

select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 0.9em;
 }

select::-ms-expand {
    display: none;
}
 
.select {
    position: relative;
    display: flex;
    width: 16em;
    height: 2.2em;
    line-height: 2.2;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
}

.select:hover::after {
    color: #5a2ff5;
}

.btn-add{
    text-align: center;
    margin-top: 20px;
}

.date{
    margin-left: 10px;
    margin-top: 10px;
}

.date input{
    margin-top: 10px;
}

#form2 .btn-add{
    margin-bottom: -32px;
    margin-top: -15px;
}

#form4 .btn-add{
    margin-top: 0px;
}

#form6 .btn-add{
    margin-bottom: -20px;
}

.btnn-finish{
    padding: 10px 20px;
    margin: 0 50px;
    border: 1px solid;
    background: springgreen;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    transition: .5s;
    margin-bottom: 40px;
}

.flex{
    display: flex;
    margin-top: -20px;
}

#finish h3{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

#finish h3 img{
    width: 30px;
    height: 30px;
    margin-top: 40px;
    margin-left: -5px;
}

#finish img{
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
}

#form7{
    display: none;
}

#form1{
    display: none;
}

#form3{
    display: none;
}

#form4{
    display: none;
}

#form5{
    display: none;
}

#form6{
    display: none;
}

#finish{
    text-align: center;
    display: none;
}