<div class="component">
    <p class="title"><span>pages</span> / Portfolios</p>
    <div class="portfolios">
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>full name</th>
                    <th>occupation</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2022-11-25 10:50:13</td>
                    <td>200</td>
                    <td>250</td>
                    <td>
                        <button type="button" class="btn btn-danger">Supprimer</button>
                    </td>
                </tr>
                <tr>
                    <td>2022-11-25 10:50:13</td>
                    <td>200</td>
                    <td>250</td>
                    <td>
                        <button type="button" class="btn btn-danger">Supprimer</button>
                    </td>
                </tr>
                <tr>
                    <td>2022-11-25 10:50:13</td>
                    <td>200</td>
                    <td>250</td>
                    <td>
                        <button type="button" class="btn btn-danger">Supprimer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>